{%extends 'customer/base.html'%}
{%block content%}
{%load static%}
<link rel="stylesheet" href="/static/css/changepassword.css">

<main id="changepassword">
    {% if error %}
    {%for message in messages%}
    <div style="color:red;font-size: 10px;">{{message}}</div>
    {%endfor%}
    <br>
    {% else %}
    <div class="message-wrapper">
        {%for message in messages%}
        <div class="messageGreen">
            <span>{{message}}</span>
        </div>
        {%endfor%}
    </div>
    {% endif %}

    <div class="container" id="container">

        <div class="form-container sign-in-container">
            <form action="{%url 'customer:changepassword'%}" method="POST" autocomplete="off">
                <h1>Change Password</h1>

                <!-- <input type="text" placeholder="Old Password">
                <input type="text" placeholder="New Password">
                <input type="text" placeholder="Confirm New Password"> -->
                {%csrf_token%}
                <span id="djangoform">{{form.as_p}}</span>
                <button>Submit</button>
            </form>
        </div>
    </div>
</main>

<script>
    $("a").removeClass("active");
    $("#customermenu").addClass("active");
    $("#id_old_password").attr("placeholder", "Old Password")
    $("#id_new_password1").attr("placeholder", "New Password")
    $("#id_new_password2").attr("placeholder", "Confirm New Password")
    $("#djangoform label").css("display", "none")

</script>

{%endblock%}