{%extends 'seller/base.html'%}
{%block content%}

<main>
    {% if error %}
    <div class="message-wrapper">
        {%for message in messages%}
        <div class="messageRed">
            <span>{{message}}</span>
        </div>
        {%endfor%}
    </div>
    {% else %}
    <div class="message-wrapper">
        {%for message in messages%}
        <div class="messageGreen">
            <span>{{message}}</span>
        </div>
        {%endfor%}
    </div>
    {% endif %}

    <div id="passwordform">
        <form action="{%url 'seller:changepassword'%}" method="POST" autocomplete="off">
            {%csrf_token%}
            {{form.as_p}}
            <button type="submit">Submit</button>
        </form>
    </div>
</main>

<script>
    $("a").removeClass("active");
    $("#changepassword").addClass("active");
    $("#page").text("Change Password");
</script>

{%endblock%}