{%extends 'customer/base.html'%}
{%block content%}
{%load static%}

<link rel="stylesheet" href="/static/css/loginseller.css">

<main id="loginseller">
    <div class="container" id="container">

        <div class="form-container sign-in-container">
            <form method="POST">
                {%csrf_token%}

                <h1>Log in</h1>

                {%for message in messages%}
                <div style="color:red;font-size: 10px;">{{message}}</div>
                {%endfor%}

                <input type="email" name="email" placeholder="Email">
                <input type="password" name="password" placeholder="Password">
                <a href="{%url 'seller:signupseller' %}">Don't have an account? Sign up here</a>
                <button type="submit">Log In</button>
            </form>
        </div>

        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h1>Welcome Back</h1>
                    <p>
                        To keep connected with us please login with your personal info
                    </p>
                </div>
            </div>
        </div>

    </div>
</main>

<script>
    $("a").removeClass("active");
    $("#loginmenu").addClass("active");
</script>

{%endblock%}